<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary"
    style="border: 1px solid black; background-color: rgb(255, 226, 238);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shopify</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active," aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/product/addProduct">Add Product</a>
          <a class="nav-link" href="/product/viewProduct">View Product</a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link" href="/sign-in">Sign-IN</a>
        <a class="nav-link" href="/sign-up">Sign-UP</a>
        <form action="/sign-out" method="post">
          <button class="nav-link text-blue btn btn-outline-danger">Sign out</button>
        </form>
      </div>
    </div>
  </nav>
</body>

</html>