<html>
    <head>
        <title>Shopify</title>
        <%-include("__bootstrap.ejs")%>
    </head>
    <style>
        body {
            background-image: url("https://files.oaiusercontent.com/file-UEBLDeNnHq8aWqzre7Kjdk?se=2025-03-25T05%3A16%3A52Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D91c632fc-e5be-4f37-8977-3be3e5aa7fe9.webp&sig=FAPCTUBBtR7MyabI26LKFUn4UZB34PQHR6gAOnHqyjM%3D");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
        }
        h1{
            color: green;
        }
    </style>
    <body>
        <%-include("__userheader.ejs")%>

        <h1 class="mt-4"><center>Shopify</center></h1>
    </body>
</html>